@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sf-pro';
    src: url('/fonts/SFPro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'sf-pro', sans-serif;
  }